<div class="well">
<span class="badge">
<%= detailImmunization.date %>
</span>
<h3>
<%= detailImmunization.product.name %>
</h3>
<p>Code:<%= detailImmunization.product.code %></p>
<p>Code System Name:<%= detailImmunization.product.code_system_name %></p>
<p><%= JSON.stringify(detailImmunization) %></p>
<p></p>
</div>