<div class="well">
<span class="badge">
<%= listMedication.date_range.start %>-<%= listMedication.date_range.end %>
</span>
<h3>
<%= listMedication.product.name %>
</h3>
	<p>Route Name:<%= listMedication.route.name %></p>
	<p>Route Code:<%= listMedication.route.code %></p>
	<p>Code System Name:<%= listMedication.route.code_system_name %></p>
	<p>Admin name:<%= listMedication.administration.name %></p>
	<p>Admin Code:<%= listMedication.administration.code %></p>
	<p>Admin Code System Name:<%= listMedication.administration.code_system_name %></p>
</div>