 	<% if (!user) { %>
 	<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Timeline Viewer</h1> 
		<p>Timeline Viewer is Based on Node.js</p>   
		<p>  
			<a class="btn btn-primary btn-lg" href="/timeline/login">Login</a>
		    <a class="btn btn-default btn-lg" href="/timeline/reg">Register</a> 
		</p> 
      </div>
    </div>
    <% } else if(user.xml!=null) { %>

	  <div class="row">
	    <div class="col-xs-4">
	    	<div class="header-unit">
			  <h3>Ellen Ross</h3>
			  <strong>Female,Married,Christian,Asian</strong>
			  <p> 
			  	<small class="gray">Language:</small>English</br>
			  	<small class="gray">Birthday:</small>Mar 7 1960</br>
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
			</div>
	    </div>
	    <div class="col-xs-4">
	    	 <h3>Marta Shan</h3>
			  <strong>Sister</strong>
			  <p> 
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
	    </div>
	    <div class="col-xs-4">
	    	<div class="header-unit">
			  <h3>Ashby Medical Center</h3>
			  <strong>Provider</strong>
			  <p> 
			  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
			  	<small class="gray">Phone:</small>415-555-1229
			  </p>
			</div>
	    </div>
	  </div>
	  <hr>
	  <div class="row">
	  	<div class="col-xs-9">
		  	<span class="label label-info label-corner">2008</span>
	  		<div class="row  timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Chest X Ray <small>May 7 2007</small><i class="icon-plan"></i></blockquote>

	  				<blockquote>Sputum<small>May 6 2007</small><i class="icon-plan"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-lab"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-lab"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2007</span>
		  	<div class="row timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Chest X Ray <small>May 5 2006</small><i class="icon-encounter"></i></blockquote>

	  				<blockquote>Chest X Ray <small>May 4 2006</small><i class="icon-encounter"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-problem"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-procedure"></i></blockquote>
	  				<blockquote>Plasma:prothrombin <small>May 7 2006</small><i class="icon-medication"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2006</small><i class="icon-problem"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2006</span>
		  	<div class="row timeline">
	  			<div class="col-xs-6 right">
	  				<blockquote>Labor and delivery <small>May 5 2005</small><i class="icon-problem"></i></blockquote>

	  				<blockquote>Gall <small>May 4 2005</small><i class="icon-medication"></i></blockquote>
	  				<blockquote>Labor and delivery <small>May 5 2005</small><i class="icon-encounter"></i></blockquote>

	  				<blockquote>Gall <small>May 4 2005</small><i class="icon-medication"></i></blockquote>
	  			</div>
	  			<div class="col-xs-6 left">
	  				<blockquote>Plasma:prothrombin <small>May 7 2005</small><i class="icon-lab"></i></blockquote>

	  				<blockquote>Plasma:prothrombin <small>May 6 2005</small><i class="icon-lab"></i></blockquote>
	  			</div>
	  		</div>
	  		<hr class="dashed">
		  	<span class="label label-info label-corner">2005</span>
	  	</div>
	  	<div class="col-xs-3">
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3><i class="icon-plan"></i> Plan of Care</h3>
					  <hr>
					  <strong>Office Consultant</strong>
					  <p class="gray">May 28, 2007</p>
					  <p> Consult with Dr.George </p>
					  <strong>Sputum Culture</strong>
					  <p class="gray">May 28, 2007</p>
					  <p>Instructions</p>
					  <strong>Chest X Ray</strong>
					  <p class="gray">May 28, 2007</p>
					  <p>Instructions</p>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3>Allergies</h3>
					  <hr>
					  <strong>Penicillin</strong>
					  <p>
					  <small class="gray">Reaction:</small> Hive<br>
					  <small class="gray">Severity:</small>Moderate to Severe
					  </p>
					  <strong>Bee Stings</strong>
					  <p>
					  <small class="gray">Reaction:</small> Hive<br>
					  <small class="gray">Severity:</small>Moderate to Severe
					  </p>
					</div>
	  			</div>
	  		</div>
	  		<div class="row">
	  			<div class="col-xs-12">
	  				<div class="header-unit">
					  <h3>Recommendations</h3>
					  <hr>
					  <strong>Provider</strong>
					  <p> 
					  	<small class="gray">Address:</small>17 Daws Road, Portland, OR 97006<br>
					  	<small class="gray">Phone:</small>415-555-1229
					  </p>
					</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <hr>
	  <footer>
		<p>© GSOC 2013</p>
	  </footer>
    <div class="row-fluid">
		<div class="span9">
			<div id="demographics">
			  <div class="hero-unit">  
					<h1 class="family"><%= demographics.name.family %> 
				    <%- partial('ccda/listGivenName', demographics.name.given) %></h1> 
					<p class="dob">Date of Birth:<%= demographics.dob.substr(0,10) %></p> 
				    <p class="gender">
				    	<% if (demographics.gender == "Male") {%>
				    		<img src="/images/male.jpg" width="100px">
				    	<%} else {%>
				    		<img src="/images/female.jpg" width="100px">
				    	<%}%>
				    </p>
				    <p class="marital">Marital Status:<%= demographics.marital_status %></p>
				</div> 
				<div class="row">
				    <div class="address span4">
					    <h2> <%- partial('ccda/listStreet', demographics.address.street) %></h2>
					    <p> <%= demographics.address.city %>,<%= demographics.address.state %>,<%= demographics.address.country %>.</p>
					    <p><%= demographics.address.zip %></p>
					    <p class="phoneHome"><%= demographics.phone.home %></p>
				   
				    </div>
				    <div class="span4">
				    	<h2>Other Information</h2>
				    	<p class="race"><%= demographics.race %></p>
				    	<p class="ethnicity"><%= demographics.ethnicity %></p>
					    <p class="religion"><%= demographics.religion %></p>
				    </div>
				</div>
			</div>
			<div id="allergyList">
			  <div class="hero-unit">
			    <h1>Allergies</h1>
			    <div class="row">
			   		<%- partial('ccda/listAllergy', allergies) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="immunizationList">
			  <div class="hero-unit">
			    <h1>Immunizations</h1>
			    <div class="row">
			    <%- partial('ccda/listImmunization', immunizations) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="medicationList">
			  <div class="hero-unit">
			    <h1>Medications</h1>
			    <div class="row">
			   		<%- partial('ccda/listMedication', medications) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="labList">
			 <div class="hero-unit">
			    <h1>Labs</h1>
			    <div class="row">
			    <%- partial('ccda/listLab', labs) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="encounterList">
			 <div class="hero-unit">
			 <h1>Encounters</h1>
			    <div class="row">
			    <%- partial('ccda/listEncounter', encounters) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="problemList">
			 <div class="hero-unit">
				 <h1>Problems</h1>
			    <div class="row">
			    <%- partial('ccda/listProblem', problems) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="procedureList">
			 <div class="hero-unit">
				 <h1>Procedures</h1>
			    <div class="row">
			    <%- partial('ccda/listProcedure', procedures) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
			<div id="vitalList">
			 <div class="hero-unit">
				 <h1>Vitals</h1>
			    <div class="row">
			    <%- partial('ccda/listVital', vitals) %>
			    </div>
			  </div>
			  <div class="row-fluid"></div>
			</div>
		</div>
	</div>
	<% } else { %> 
		<a class="btn btn-primary btn-lg" href="/upload">Upload New CCDA Document</a>
	<% } %>