<div class="col-xs-5">
<% for (i=0;i<labs.length;i++){
if (i == Math.floor(labs.length/2)){%>
</div><div class="col-xs-2"></div><div class="col-xs-5"> <%}%>
	<div class="row">
		<h3><i class="icon-lab"></i><%= labs[i].name %></h3>
		<hr>
		<h5 class="right"><%= formatDate(labs[i].results[0].date) %></h5>
		<hr>
		<% for (j=0;j<labs[i].results.length;j++){
		switch(labs[i].results[j].name){
		 case 'HGB': health_left=15;health_right=18;background_left=9;background_right=24;
		 name='Hemoglobin';
		 break;
		 case 'WBC': health_left=7;health_right=14;background_left=2;background_right=30; name='WBC';
		 break;
		 case 'PLT': health_left=100;health_right=130;background_left=90;background_right=140; name='PLT';
		 break;
		 default:
		 health_left=14;health_right=18;background_left=10;background_right=24; name='Undefined';
		 break;
		}
		health_left_percentage=(health_left-background_left)*100/(background_right-background_left);
		health_right_percentage=(health_right-background_left)*100/(background_right-background_left);
		health_width=(health_right-health_left)*100/(background_right-background_left);
		if (((labs[i].results[j].value-health_left)*100/(health_right-health_left)<-50)||((health_right-labs[i].results[j].value)*100/(health_right-health_left)<-50))
		health_state = "very-unhealthy";
		else if (((labs[i].results[j].value-health_left)*100/(health_right-health_left)<0)||((health_right-labs[i].results[j].value)*100/(health_right-health_left)<0))
		health_state = "unhealthy";
		else health_state = "healthy";
		my_percentage = (labs[i].results[j].value-background_left)*100/(background_right-background_left);
		%>
		<div class="row lab">
			<div class="col-xs-3">
				<strong><%=name %></strong>
			</div>
			<div class="col-xs-3 value-unit">
			<span class="unit">
			<%= labs[i].results[j].unit %></span><span class="value <%= health_state %>"><%= labs[i].results[j].value %></span>
			</div>
			<div class="col-xs-6 slide-unit">
				<div class="min" style="left:<%= health_left_percentage %>%;"><%= health_left %></div>
				<div class="percentage" style="left:<%= health_left_percentage %>%;width:<%= health_width %>%;"></div>
				<div class="max" style="left:<%= health_right_percentage %>%;"><%= health_right %></div>
				<div class="position" style="left:<%= my_percentage %>%;"></div>
			</div>
		</div>
		<%} %>
	</div>
<%}%>
</div>